@import './utils/variables';
@import './utils/style-reset';
@import './utils/visually-hidden';
@import './components/common-styles';
@import './components/logo';
@import './components/header';
@import './components/hero';
@import './components/benefits';
@import './components/activities';
@import './components/team';
@import './components/social-networks';
@import './components/partners';
@import './components/footer';
@import './components/checkbox';
@import './components/modal';
@import './components/filter';
@import './components/samples';
