.activities__list {
  display: flex;
  column-gap: 30px;
}

.activities__item {
  position: relative;
  width: calc((100% - 2 * 30px) / 3);
}

.activities__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.activities__background {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activities__text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}
