.benefits {
  padding-bottom: 0;
}

.benefits__list {
  display: flex;
  column-gap: 30px;
}

.benefits__item {
  width: calc((100% - 3 * 30px) / 4);
}

.benefits__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.03em;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.benefits__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $tertiary-background-color;
}

.benefits__icon {
  height: 70px;
  width: 70px;
}
