.header__contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    column-gap: 30px;
    align-items: center;
  }
}

.contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.contacts__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $main-text-color;

  &--number {
    font-size: 34px;
    color: $accent-color;
  }

  &--mail {
    font-size: 24px;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;

  &--envelope {
    width: 14px;
    height: 10px;

    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px;
    }
  }

  &--mobile-phone {
    width: 10px;
    height: 14px;

    @media screen and (min-width: 1200px) {
      width: 10px;
      height: 16px;
    }
  }
}
