.contacts {
  margin-bottom: 64px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts__link {
  &--number {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $accent-color;
  }

  &--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: inherit;
  }
}
