.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  column-gap: 165px;
  row-gap: 60px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-background-color;
}

.address {
  width: 232px;
  margin: 0 auto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
}

.address__item {
  display: block;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.address__location {
  margin-bottom: 8px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color $transition-info;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__location {
  color: $white-color;
}

.footer__text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
}

.subscription__input {
  display: block;
  width: 450px;
  padding: 15px 16px;
  margin-left: auto;
  margin-right: auto;
  // margin-right: 12px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: $white-color;
  transition: border $transition-info;

  &:focus-within {
    outline: none;
    border: 1px solid $accent-color;
  }

  &::placeholder {
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (max-width: 467px) {
    width: 100%;
  }
}

.subscription__wrapper {
  // display: flex;
}

.subscription__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-left: 28px;
  padding-right: 28px;
}

.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
