.footer__container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  @media screen and (max-width: 1199px) {
    justify-content: center;
    column-gap: 165px;
    row-gap: 60px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-background-color;
}

.footer__wrapper:last-child {
  margin-left: auto;
}

.footer__text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.subscription__input {
  display: block;
  width: 450px;
  padding: 15px 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: $white-color;
  transition: border $transition-info;

  &:focus-within {
    outline: none;
    border: 1px solid $accent-color;
  }

  &::placeholder {
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (max-width: 467px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.subscription__wrapper {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.subscription__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-left: 28px;
  padding-right: 28px;
}

.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
