.footer__container {
  display: flex;
  align-items: baseline;
  column-gap: 70px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-background-color;
}

.address {
  width: 231px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__item {
  display: block;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__location {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color $transition-info;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__location {
  color: $white-color;
}

.footer__text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}

.subscription__input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: $white-color;
  transition: border $transition-info;

  &:focus-within {
    outline: none;
    border: 1px solid $accent-color;
  }

  &::placeholder {
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscription__wrapper {
  display: flex;
}

.subscription__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 28px;
  padding-right: 28px;
}

.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
