.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  column-gap: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &--contacts {
    margin-left: auto;
  }
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $secondary-text-color;
  transition: color $transition-info;

  &--current {
    position: relative;
    color: $accent-color;

    &::after {
      position: absolute;
      bottom: -1px;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
    }
  }

  &--contacts {
    display: flex;
    align-items: center;
    color: $main-text-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation__icon {
  margin-right: 10px;
  fill: currentColor;

  &--envelope {
    width: 16px;
    height: 12px;
  }

  &--mobile-phone {
    width: 10px;
    height: 16px;
  }
}
