.hero {
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../images/hero-bgi-small.jpg');
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: var(--secondary-background-color); */
  text-align: center;

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero-bgi-small@2x.jpg);
    background-size: cover;
  }

  @media screen and (min-width: 481px) {
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero-bgi-medium.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/hero-bgi-medium@2x.jpg);
    }
  }

  @media screen and (min-width: 769px) {
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero-bgi-big.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/hero-bgi-big@2x.jpg);
    }
  }

  @media screen and (min-width: 1201px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  max-width: 360px;
  margin: auto;
  margin-bottom: 30px;
  color: $white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero__button {
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (min-width: 1200px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}
