.hero {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../images/hero-bgi-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: var(--secondary-background-color); */
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero-bgi-tablet.jpg);
  }
}

.hero__title {
  width: 360px;
  margin: auto;
  margin-bottom: 30px;
  color: $white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding-left: 24px;
  padding-right: 24px;
}
