.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $black-color;

  &--footer {
    display: block;
    margin-bottom: 20px;
    color: $white-color;
  }
}

.header__logo {
  margin-right: 93px;
}

.logo__part {
  color: $accent-color;
}
