.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $transition-info, visibility $transition-info;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  transition: transform $transition-info;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $white-color;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.form__list {
  margin-bottom: 10px;
}

.form__item:not(:last-child) {
  margin-bottom: 10px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__wrapper {
  position: relative;
}

.form__input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border $transition-info;

  &:focus-within {
    outline: none;
    border: 1px solid $accent-color;
  }
}

.form__input:focus-within + .form__icon {
  fill: $accent-color;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
}

.comment {
  display: block;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border $transition-info;

  &:focus-within {
    outline: none;
    border: 1px solid $accent-color;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form__button {
  display: block;
  margin: 0 auto;
  padding-left: 52px;
  padding-right: 52px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white-color;
  transition: color $transition-info;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
