.partners__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.partners__list {
  display: flex;
  column-gap: 30px;
}

.partners__item {
  width: 170px;
  height: 92px;
}

.partners__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--main-text-color);
  transition: border $transition-info, color $transition-info;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}

.partners__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
