$main-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$black-color: #000000;
$secondary-background-color: #2f303a;
$tertiary-background-color: #f5f4fa;
$transition-info: 250ms cubic-bezier(0.4, 0, 0.2, 1);
